* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    overflow-x: hidden;
}

.container {
    padding: 20px;
    
}

.display {
    display: block;
    width: 100%;
    resize: none;
    min-height: 50vh;
    border: 1px solid grey;
    padding: 5px;
}

.display:disabled {
    background-color: #fff;
}

.keyboard {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(15, minmax(50px, 1fr));
    margin-top: 20px;
}

.keyboard.active > * {
    text-transform: uppercase;
}

.btn {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 50px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: darkgrey;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    color: #fafafa;
    padding: 5px;
    grid-column: span 1;
    z-index: 1;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.7);
    transition: all 0.1s ease;
}

.btn.active {
    transform: translateY(5px);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    transition: all 0.1s ease;
}

.btn_color_active::before {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: greenyellow;
    top: 10px;
    left: 10px;
}

.btn_bg_dark {
    background-color: #3e3b3b;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 1);
    text-transform: capitalize;
    white-space: nowrap;
}

.active .btn_bg_dark {
    text-transform: capitalize;
}

.btn_bg_dark.active {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

.btn_type_space {
    grid-column: span 7;
}

.btn_size_big {
    grid-column: span 2;
}

.btn_color_grey {
    color: grey;
}

.btn__alt {
    position: absolute;
    top: 5px;
    left: 5px;
}